/* Estilo para a tabela de gerenciamento de produtos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

table img {
    max-width: 50px;
    height: auto;
    border-radius: 4px;
}
